<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <main>
        <h2><%= article.title %></h2>
        <p><%= article.content %></p>
        <p><em>Gepubliceerd op: <%= article.date %></em></p>
    </main>
</body>
</html>